In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2021-03-04 04:29:06,-9.8000,-139.0333,80.06,74,65,8.84
1,1,Cidreira,BR,2021-03-04 04:29:07,-30.1811,-50.2056,74.91,91,69,2.62
2,2,Nanortalik,GL,2021-03-04 04:29:07,60.1432,-45.2371,36.61,75,100,20.92
3,3,Lebu,CL,2021-03-04 04:29:07,-37.6167,-73.6500,59.70,84,0,16.04
4,4,Kodiak,US,2021-03-04 04:24:48,57.7900,-152.4072,33.80,60,1,13.80

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [30]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [35]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2021-03-04 04:29:06,-9.8000,-139.0333,80.06,74,65,8.84
8,8,Faanui,PF,2021-03-04 04:29:09,-16.4833,-151.7500,82.83,73,100,11.41
13,13,Honiara,SB,2021-03-04 04:25:05,-9.4333,159.9500,79.30,83,100,5.03
14,14,Abu Road,IN,2021-03-04 04:29:11,24.4833,72.7833,82.96,15,0,2.71
15,15,Puerto Ayora,EC,2021-03-04 04:29:11,-0.7393,-90.3518,77.00,96,56,3.11
19,19,Kalmunai,LK,2021-03-04 04:29:12,7.4167,81.8167,81.73,60,33,5.84
21,21,Le Port,RE,2021-03-04 04:29:13,-20.9373,55.2919,82.40,69,20,10.36
22,22,Busselton,AU,2021-03-04 04:29:13,-33.6500,115.3333,76.59,69,39,13.22
24,24,Gao,ML,2021-03-04 04:29:14,16.6362,1.6370,76.91,17,5,7.99
29,29,Porto Novo,BJ,2021-03-04 04:29:15,6.4965,2.6036,84.20,84,40,12.66

In [36]:
# Look for any null values
preferred_cities_df.count()

City_ID       143
City          143
Country       143
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Atuona      PF     80.06  -9.8000 -139.0333
8         Faanui      PF     82.83 -16.4833 -151.7500
13       Honiara      SB     79.30  -9.4333  159.9500
14      Abu Road      IN     82.96  24.4833   72.7833
15  Puerto Ayora      EC     77.00  -0.7393  -90.3518
19      Kalmunai      LK     81.73   7.4167   81.8167
21       Le Port      RE     82.40 -20.9373   55.2919
22     Busselton      AU     76.59 -33.6500  115.3333
24           Gao      ML     76.91  16.6362    1.6370
29    Porto Novo      BJ     84.20   6.4965    2.6036

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [45]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [48]:
# Output datafram
hotel_df.head(12)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,80.06,-9.8000,-139.0333,Villa Enata
8,Faanui,PF,82.83,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
13,Honiara,SB,79.30,-9.4333,159.9500,Heritage Park Hotel
14,Abu Road,IN,82.96,24.4833,72.7833,Private Room In the Heart of the city.
15,Puerto Ayora,EC,77.00,-0.7393,-90.3518,Finch Bay Galapagos Hotel
19,Kalmunai,LK,81.73,7.4167,81.8167,VS Villa
21,Le Port,RE,82.40,-20.9373,55.2919,Villa Maido
22,Busselton,AU,76.59,-33.6500,115.3333,Observatory Guest House
24,Gao,ML,76.91,16.6362,1.6370,
29,Porto Novo,BJ,84.20,6.4965,2.6036,Tour Eiffel Hotel Benin
30,Mahebourg,MU,78.80,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
35,Sao Joao Da Barra,BR,75.27,-21.6403,-41.0511,Pousada Porto De Canoas

In [53]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]