## Deliverable 3. Create a Travel Itinerary Map.

In [47]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [48]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Mar Del Plata,AR,71.60,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
1,5,Atuona,PF,79.63,light rain,-9.8000,-139.0333,Villa Enata
2,16,Honiara,SB,81.09,overcast clouds,-9.4333,159.9500,Heritage Park Hotel
3,23,Majalgaon,IN,78.26,scattered clouds,19.1500,76.2333,इंद्रायणी ढाबा
4,24,Rikitea,PF,78.69,clear sky,-23.1203,-134.9692,Pension Maro'i

In [49]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Karratha"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Karratha"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Busselton"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Kingaroy"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Mareeba"] 

vacation_start.drop_duplicates(subset=['City'])

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
124,373,Karratha,AU,88.75,clear sky,-20.7377,116.8463,ibis Styles Karratha

In [51]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [63]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],
                         ignore_index=True)

itinerary_df.drop_duplicates(subset=['City'])

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,373,Karratha,AU,88.75,clear sky,-20.7377,116.8463,ibis Styles Karratha
4,25,Busselton,AU,72.00,overcast clouds,-33.6500,115.3333,Observatory Guest House
9,442,Kingaroy,AU,80.01,light rain,-26.5333,151.8333,Ascot Lodge Motel Kingaroy
14,88,Mareeba,AU,84.20,scattered clouds,-17.0000,145.4333,Trinity Plains Tourist Park

In [53]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [67]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))